<?xml version="1.0" encoding="utf-8"?>

<launch>
	<arg name="marker" default="false"/>
	<arg name="keyboard" default="false"/>
	<arg name="joystick" default="false"/>

	<node name="end_effector_trajectory_client" pkg="end_effector_teleoperation_control" type="end_effector_trajectory_client.py" output="screen"/>

	<group if="$(arg marker)">
		<node name="end_effector_marker_control" pkg="end_effector_teleoperation_control" type="end_effector_marker_control" output="screen"/>
		<node name="end_effector_command_solver" pkg="end_effector_teleoperation_control" type="end_effector_command_solver.py" output="screen"/>
		<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find end_effector_teleoperation_control)/marker.rviz"/>
	</group>

	<group if="$(arg keyboard)">
		<node name="control_command_subscriber" pkg="end_effector_teleoperation_control" type="control_command_subscriber.py" output="screen"/>
		<node name="keyboard_control" pkg="end_effector_teleoperation_control" type="keyboard_control.py" output="screen"/>
	</group>

</launch>
